<% content_for(:title){"マイ編成"} %>

<%= render "application/header" %>

<div class="commanders teams">
  <h2>マイ編成</h2>
  <% @teams.each do |team| %>
    <%= link_to team do %>
      <div class="commander team">
        <div>
          <%= commander_icon(team.units.first&.main_commander) %>
        </div>
        <div class="commander-info team-info">
          <p class="team-title"><%= team.title %></p>
          <p class="team-details"><%= team.details&.truncate(30) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to "➕", new_team_path, class: "new-team-link" %>
</div>
