<div class="commander-show" id="commander">
  <h2><%= @commander.name %></h2>
  <div class="commander-img">
    <%= image_tag "commander_#{@commander.id}"  %>
    <% if @users_commander %>
      <div class="commander-show-skill skill1" id="skill1">
        <%= @users_commander.skill1 %>
      </div>
      <div class="commander-show-skill skill2" id="skill2">
        <%= @users_commander.skill2 %>
      </div>
      <div class="commander-show-skill skill3" id="skill3">
        <%= @users_commander.skill3 %>
      </div>
      <div class="commander-show-skill skill4" id="skill4">
        <%= @users_commander.skill4 %>
      </div>
    <% end %>
  </div>
  <% if @users_commander %>
    <div class="full-skills" id="sculpture-count">
      <% unless @users_commander.sculpture_count == 0 %>
        <p>覚醒まであと彫像が<span id="sculpture-5555"><%= @users_commander.sculpture_count %></span>個</p>
      <% end %>
      <% if @users_commander.skill4 == 1 \
        && @commander.rarity == "レジェンド" \
        && @users_commander.sculptures_for_5551 != 0  %>
        <p>5-5-5-1まであと彫像が<span id="sculpture-5551"><%= @users_commander.sculptures_for_5551 %></span>個</p>
      <% end %>
      <% if @users_commander.skill4 == 1 \
        && @users_commander.skill3 == 1 \
        && @commander.rarity == "レジェンド" \
        && @users_commander.sculptures_for_5511 != 0  %>
        <p>5-5-1-1まであと彫像が<span id="sculpture-5511"><%= @users_commander.sculptures_for_5511 %></span>個</p>
      <% end %>
      <% if @users_commander.skill4 == 1 \
        && @users_commander.skill3 == 1 \
        && @users_commander.skill2 == 1 \
        && @commander.rarity == "レジェンド" \
        && @users_commander.sculptures_for_5111 != 0  %>
        <p>5-1-1-1まであと彫像が<span id="sculpture-5111"><%= @users_commander.sculptures_for_5111 %></span>個</p>
      <% end %>
      <% unless @users_commander.sculpture_count == 0 %>
        <%= link_to(
          "覚醒",
          users_commander_path(@users_commander, type: "full"),
          method: :patch,
          data: {remote: true},
          ) %>
      <% end %>
    </div>
    <div class="skills-edit">
      <div class="skill-edit">
        <p>スキル1</p>
        <%= link_to(
          "アップ",
          users_commander_path(@users_commander, skill: 1, type: "up"),
          method: :patch,
          data: {remote: true},
          class: "up"
          ) %>
        <%= link_to(
          "ダウン",
          users_commander_path(@users_commander, skill: 1, type: "down"),
          method: :patch,
          data: {remote: true},
          class: "down"
          ) %>
      </div>
      <div class="skill-edit">
        <p>スキル3</p>
        <%= link_to(
          "アップ",
          users_commander_path(@users_commander, skill: 3, type: "up"),
          method: :patch,
          data: {remote: true},
          class: "up"
          ) %>
        <%= link_to(
          "ダウン",
          users_commander_path(@users_commander, skill: 3, type: "down"),
          method: :patch,
          data: {remote: true},
          class: "down"
          ) %>
      </div>
      <div class="skill-edit">
        <p>スキル2</p>
        <%= link_to(
          "アップ",
          users_commander_path(@users_commander, skill: 2, type: "up"),
          method: :patch,
          data: {remote: true},
          class: "up"
          ) %>
        <%= link_to(
          "ダウン",
          users_commander_path(@users_commander, skill: 2, type: "down"),
          method: :patch,
          data: {remote: true},
          class: "down"
          ) %>
      </div>
      <div class="skill-edit">
        <p>スキル4</p>
        <%= link_to(
          "アップ",
          users_commander_path(@users_commander, skill: 4, type: "up"),
          method: :patch,
          data: {remote: true},
          class: "up"
          ) %>
        <%= link_to(
          "ダウン",
          users_commander_path(@users_commander, skill: 4, type: "down"),
          method: :patch,
          data: {remote: true},
          class: "down"
          ) %>
      </div>
    </div>
  <% end %>
  <% unless @users_commander %>
    <%= link_to(
      "招集する",
      users_commanders_path(commander_id: @commander.id),
      method: :post,
      data: {remote: true},
      class: "new-commander"
      ) %>
  <% end %>
</div>

<%= javascript_pack_tag "commanders/show" %>
