<%= render "application/header" %>

<div class="top-flex-wrapper">
  <div class="start-link">
    <%= link_to rank_path do %>
      <%= image_tag asset_path("star") %>
      <span>ランクアップコスト</span>
    <% end %>
  </div>

  <div class="start-link">
    <%= link_to commanders_path do %>
      <%= image_tag asset_path("commander") %>
      <span>指揮官</span>
    <% end %>
  </div>

  <div class="start-link">
    <%= link_to teams_path do %>
      <%= image_tag asset_path("team") %>
      <span>編成</span>
    <% end %>
  </div>
</div>
