<% content_for(:title){"Prosperity of Kingdoms"} %>

<%= render "application/header" %>

<% unless current_user %>
  <div class="intro">
    <h2>Prosperity of Kingdoms</h2>
    <p>ライキンプレイヤーの王国繁栄のために、少しだけ役に立つ機能を提供します</p>
  </div>
<% end %>

<p id="open-form">ご要望や感想はこちら！</p>

<%= form_with url: home_contact_path, id: "contact-form", local: true do |f| %>
  <%= f.text_area :content,
  placeholder: " 使ってみた感想や、こんな機能が欲しいなどがあればお気軽にお知らせください
  内容は管理者のメールに匿名で送信されます",
  rows: 10 %>
  <%= f.submit "送信する" %>
<% end %>

<div class="top-flex-wrapper">
  <div class="start-link">
    <%= link_to rank_path do %>
      <%= image_tag "star" %>
      <span>ランクアップコスト</span>
    <% end %>
  </div>

  <div class="start-link">
    <%= link_to commanders_path do %>
      <%= image_tag "commander" %>
      <span>指揮官</span>
    <% end %>
  </div>

  <div class="start-link">
    <%= link_to teams_path do %>
      <%= image_tag "team" %>
      <span>編成</span>
    <% end %>
  </div>
</div>

<% unless current_user %>
  <p class="annotation">
    ※指揮官管理、編成管理については指揮官情報の保存のため、簡単なユーザー登録を必要とします
  </p>
<% end %>

<%= javascript_pack_tag "home/top" %>
