<% owned_commanders.each do |users_commander| %>
  <% commander = users_commander.commander %>
  <%= link_to commander_path(commander.name) do %>
    <div class="commander">
      <div>
        <%= commander_icon(commander) %>
      </div>
      <div class="commander-info">
        <p><%= commander.name %></p>
        <div class="skills">
          <span><%= users_commander.skill1 %></span>
          <span><%= users_commander.skill2 %></span>
          <span><%= users_commander.skill3 %></span>
          <span><%= users_commander.skill4 %></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
