<%= render "application/header" %>

<div class="commanders">
  <h2>指揮官一覧</h2>
  <%= form_with url: search_commanders_path, method: :get do |f| %>
    <%= f.select :type, {"スキルレベル順": "skill", "未招集": "not_owned", "レジェンド": "レジェンド", "エピック": "エピック"} %>
    <%= f.submit "表示" %>
  <% end %>

  <div id="owned-commanders-wrapper">
    <%= render "owned_commanders", owned_commanders: @owned_commanders %>
  </div>

  <div id="not-owned-commanders-wrapper">
    <%= render "not_owned_commanders", not_owned_commanders: @not_owned_commanders %>
  </div>
</div>
