<% content_for(:title){"ログイン"} %>

<div class="background">
  <div class="user-field">
    <h3>ログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%= link_to "新規登録はこちら", new_user_registration_path, class: "bottom-link" %>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>
